
:root {
  --textColor: black;
  --backgroundColor: white;
  --titleColor: white;
  --titleBackground: black;
}

[data-theme="dark"] {
  --textColor: white;
  --backgroundColor: black;
  --titleColor: black;
  --titleBackground: white;
}


.app {
  background: var(--backgroundColor);
  color: var(--textColor);
}

.titleColor {
  background: var(--titleBackground);
  color: var(--titleColor);
}





.active {
  background-color: #C73A30 !important;
  color: #ffffff !important;
  border-radius: 6px;
}

.banner {
  background-image: url('./assets/img/banner1.jpg');
}


[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 500px;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}