/* Dark theme css start */

:root {
  --textColor: black;
  --backgroundColor: white;
  --divBackgroundColor: #FAFAFA;
  --divBorder: transparent;
  --divBorderBottom: transparent;
  --divBorderTop: #ECEFF1;
  --themeSwitchBtnBorder: #000000;
  --themeSwitchBtnColor: #000000;
}

[data-theme="dark"] {
  --textColor: white;
  --backgroundColor: black;
  --divBackgroundColor: black;
  --divBorder: #ffffff69;
  --divBorderBottom: #ffffff69;
  --divBorderTop: #ffffff69;
  --themeSwitchBtnBorder: #ffffff;
  --themeSwitchBtnColor: #ffffff;
}


.app {
  background: var(--backgroundColor);
  color: var(--textColor);
}

.divBackgroundColor {
  background-color: var(--divBackgroundColor);
}

.divBorder {
  border: 1px solid var(--divBorder);
}

.divBorderBottom {
  border-bottom: 1px solid var(--divBorderBottom);
}

.divBorderTop {
  border-top: 1px solid var(--divBorderTop);
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input,
select,
textarea {
  color: var(--textColor) !important;
}

.themeSwitchBtn {
  border: 2px solid var(--themeSwitchBtnBorder);
  height: 30px;
  width: 30px;
  color: var(--themeSwitchBtnColor);
  border-radius: 50%;
}

/* Dark theme css end */


/* Top menu bar */

.active {
  background-color: #C73A30 !important;
  color: #ffffff !important;
  border-radius: 6px;
}

.banner {
  background-image: url('./assets/img/banner1.jpg');
}

/* Top meu bar end */





































[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 500px;
  max-height: 100vh;
}

.navigation-wrapper {
  position: relative;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}